@charset "utf-8";

@font-face {
    font-family: 'Cafe24Gowoonbam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaeguDongseongRo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/DaeguDongseongro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/*@font-face {
    font-family: 'NostalgicYuriDakku';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-1@1.0/Griun_YuriDaggu-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}*/

/*전체 영역*/
* {
  margin: 0;
  padding: 0;
  letter-spacing: 2%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  width: 100%;
  /*height: 6480px;*/
  background-color: #fff9f0;
}

/*컨테이너 설정*/
.container {
  display: flex;
  /*width: 100%;*/
  max-height: 1080vh;
  margin: 0 auto;
  padding: 0 20px;
}

/*헤더 영역*/
.header {
  width: 100%;
  max-width: 1920px;
  height: 166px;
  /*background-color: lightskyblue;*/
  position: relative;
}

.header_inner {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 20px 40px;
}

.header_inner img {
  width: 150px;
  height: 150px;
  /*padding-left: 270px;*/
  /*margin-top: -70px;*/
}

.header_inner a {
  margin-left: auto;
  margin-right: 20px;
}

.header_inner a img {
  transform: translateY(-42px);
}

/*검색창*/
.search-form {
  margin: -80px 290px 0 -25px; /*위, 오른쪽, 아래, 왼쪽*/
}

.search-box {
  position: relative;
  width: 350px;
}

.search-box input {
  width: 100%;
  height: 40px;
  padding: 10px 42px 10px 20px; /*위, 오른쪽, 아래, 왼쪽*/
  border: 1px solid rgba(88, 88, 88, 0.3);
  background-color: rgba(249, 249, 249, 0.3);
  border-radius: 100px;
  box-sizing: border-box;
  color: #000;
}

.search-box input:focus {
  border: 1px solid rgba(88, 88, 88, 0.5);
  outline: none;
}

.search-box button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.search-box button img {
  width: 13.77px;   
  height: 13.77px;
  display: block;
  padding-right: 10px;
}

.search-box input { /*검색창 폰트 설정*/
  font-size: 14px;  
  color: #000;  
}

.topmenu {
  display: flex;
  margin: 10px 220px 120px auto; /*위, 오른쪽, 아래, 왼쪽*/
  gap: 25px; /*버튼 간 간격 조절*/
}

.topmenu a {
  /*margin-left: 35px;*/
  font-size: 16px;
  color: #222;
  padding: 5px 10px; /*버튼 크기 조절*/
  background-color: #FFAB91;
  border-radius: 10px;
  font-weight: 400;
  margin: 0;
}

.topmenu a:hover {
  background-color: #ffbda9;
}

.submenu {
  position: relative;
  top: -100px;
  text-align: center;
  padding: 15px 0;
  margin-top: 18px;
}

.submenu ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  color: #222;
}

.submenu ul li a:hover {
  background-color: #fae6c7;
  padding: 5px 10px 5px;
  border-radius: 5px;
  font-size: 18px;
}

/*배송 안내*/
.delivery-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
}

.modal-content {
  background: #fff9f0;
  width: 400px;
  height: 300px;
  padding: 20px;
  margin: 200px auto;
  text-align: center;
  font-family: 'Cafe24Gowoonbam';
  border-radius: 10px;
}

.modal-content H3 {
  margin-bottom: 50px;
}

.modal-content p {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 20px;
}

.modal-content button {
  font-family: 'Cafe24Gowoonbam';
  background-color: #fff9f0;
  width: 50px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 120px;
}

/*제품 이미지*/
.detail-top {
  width: 100%;
  height: 665px;
  display: flex;
  gap: 186px;
}

.goods {
  display: flex;
  margin-left: 320px;
  margin-top: 130px;
}

.goods img {
  width: 500px;
  height: 500px;
}

/*제품 구매 영역*/
.goods-info {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

.goods-price {
  display: flex;
  flex-direction: column;
  /*width: 453px;
  height: 553px;*/
}

.goods-price h4 {
  width: 286px;
  height: 50px;
  font-size: 30px;
  padding: 7px;
  color: #222;
  background-color: #FFBDA6;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 36px;
  margin-left: 54px;
  font-family: 'Cafe24Gowoonbam';
}

.goods-price p {
  font-size: 40px;
  color: #222;
  font-family: 'Cafe24Gowoonbam';
  text-align: right;
  margin-right: 50px;
  margin-bottom: 27px;
  font-weight: 600 ;
}

.goods-del {
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: #F5E4DE;
  padding: 20px 0px 0px 20px;
  border: 1px solid #000;
  border-bottom: none;
  font-family: 'Cafe24Gowoonbam';
}

.goods-del2 {
  background-color: #F5E4DE;
  padding: 20px;
  border: 1px solid #000;
  border-top: none;
  margin-bottom: 51px;
  font-family: 'Cafe24Gowoonbam';
}

.goods-del img {
  width: 30px;
  height: 30px;
}

.goods-buy {
  background-color: #F5E4DE;
  border: 1px solid #000;
  margin-bottom: 66px;
}

.goods-buy p {
  font-size: 20px;
  padding: 20px 0px 20px 20px;
  font-family: 'Cafe24Gowoonbam';
}

.product {
  display: flex;
  align-items: center;
  gap: 110px;
}

.productnum {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  background: #fff;
  gap: 10px;
  margin-left: 20px;
}

.productnum2 p {
  padding-top: 20px;
}

.productnum button {
  width: 30px;
  height: 30px;
  border: none;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
}

.productnum .count {
  width: 40px;
  text-align: center;
  font-size: 14px;
}

/*버튼 사이 구분선
.productnum button:first-child {
  border-right: 1px solid #000;
}

.productnum button:last-child {
  border-left: 1px solid #000;
}*/

.button {
  display: flex;
  align-items: center;
  gap: 39px;
}

/*찜하기 버튼*/
#like {
  display: none;
}

.heart {
  font-size: 40px;
  color: rgb(255, 233, 233);
  cursor: pointer;
  transition: 0.2s;
  margin-right: 136px;
}

/*클릭하면 빨간 하트*/
#like:checked + .heart {
  color: red;
}

.button button {
  width: 90px;
  height: 35px;
  padding: 5px;
}
/*선물하기 버튼*/
.gift button {
  background-color: #fff;
  border: 1px solid #FFAB91;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Cafe24Gowoonbam';
}

.gift button:hover {
  background-color: #FFAB91;
  color: #fff;
}

/*구매하기 버튼*/
.buy button {
  background-color: #F4AA90;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Cafe24Gowoonbam';
}

.buy button:hover {
  background-color: #faddd3;
  border: 1px solid #000;
}

/*메뉴 구성*/
.detail-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 200px;
  font-size: 24px;
  font-family: 'Cafe24Gowoonbam';
}

.mid-left {
  position: relative;
}

.mid-left img {
  width: 676px;
  height: 564.71px;
}

.mid-left .line1 {
  height: 103px;
  bottom: 89%;
  right: 50%;
  position: absolute;
  border-right: 1px solid #000;
}

.mid-left p {
  position: absolute;
  bottom: 110%;
  right: 40%;
}

.mid-left .line2 {
  height: 169px;
  border-right: 1px solid #000;
  position: absolute;
  right: 50%;
  top: 78%;
}

.mid-left span {
  position: absolute;
  right: 42%;
  top: 110%;
}

.mid-right {
  position: relative;
}

.mid-right img {
  width: 281.04px;
  height: 565.21px;
}

.mid-right .line3 {
  position: absolute;
  border-right: 1px solid #000;
  height: 200px;
  left: 50%;
  bottom: 75%;
}

.mid-right p {
  position: absolute;
  bottom: 113%;
  left: 23%;
}

.mid-right .line4 {
  position: absolute;
  border-right: 1px solid #000;
  height: 169px;
  right: 44%;
  bottom: -25px;
}

.mid-right span {
  position: absolute;
  right: 17%;
  bottom: -60px;
}

/*제품 정보*/
.detail-bottom {
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  border-top: 1px solid #000;
  color: #4D4C4C;
}

.product-meta {
  padding-top: 30px;
  margin-bottom: 20px;
}

.product-meta p {
  margin-bottom: 8px;
}

.product-meta .full {
  margin-top: 10px;
}

/*영양 정보*/
.nutrition {
  border: 1px solid #403E3E;
}

.nutrition-top {
  max-width: 900px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #403E3E;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #403E3E;
  margin-bottom: 1px;
}

.nutrition-title {
  display: flex;
  justify-content: space-between;
  background: #403E3E;
  color: #fff;
}

.nutrition-title span {
  font-size: 24px;
  font-weight: normal;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 16px;
}

.nutrition-title .cal {
  text-align: right;
  background-color: #FFF9F0;
  color: #403E3E;
  font-size: 16px;
  flex: 1;
  padding-right: 25px;
  padding-top: 7px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table td {
  height: 49px;
  border: 1px solid #403E3E;
  padding: 10px;
  text-align: center;
  border-right: none;
  font-size: 16px;
}

/*첫번째 열(나트륨, 지방, 식이섬유) 왼쪽 선 가늘게 처리*/
table tr td:first-child {
  border-left: 1px solid #ccc;
}

/*식이섬유, 단백질 왼쪽 여백 추가*/
table tr:nth-child(3) td {
  padding-left: 20px;
}

.cell {
  display: flex;
  justify-content: space-between;
}

.note {
  padding: 20px;
  font-size: 16px;
}

.notice {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
  max-width: 900px;
}

/*리뷰 영역*/
.review {
  width: 1636px;
  color: #fff;
  margin: 35px auto 0px;
  font-family: 'Cafe24Gowoonbam';
  position: relative;
  margin-bottom: 100px;
}

.review-title {
  display: inline-block;
  /*background: #eee;*/
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
  font-family: 'DaeguDongseongRo';
}

/*포토리뷰 타이틀 */
.photo-btn {
  display: block;
  margin: 20px 0;
  background: #81C784;
  border: none;
  padding: 5px 7px;
  color: #000;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 40px;
  font-family: 'DaeguDongseongRo';
}

/* 포토리뷰 전체 영역*/
.review-list {
  display: flex;
  gap: 91px;
}

/*포토 리뷰 카드 */
.review-card {
  width: 427px;
  /*background: lightblue;*/
  color: #333;
  margin-left: 41px;
}

/*이미지 영역만큼 자르기*/
.re-img {
  width: 423px;
  height: 216px;
  overflow: hidden;
  border: 2px solid #FFAB91;
}

.re-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.review-card:nth-of-type(1) .re-img img {
  object-position: 50% 20%;
}

.review-card:nth-of-type(2) .re-img img {
  object-position: 20% 45%;
}

.review-card:nth-of-type(3) .re-img img {
  object-position: 20% 30%;
}

.review-content {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #e69a80;
  margin-bottom: 27px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

/*별점*/
.stars {
  color: #81C784;
  font-size: 16px;
  margin-bottom: 26px;
}

/*닉네임*/
.tag {
  display: inline-block;
  border: 1px solid #FFAB91;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

/*리뷰 안의 내용 */
.desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/*상품 보러가기 버튼 */
.more-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #333;
  background: #FFAB91;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Cafe24Gowoonbam';
}

.more-btn:hover {
  border: none;
  font-size: 18px;
}

/*리뷰페이지  이동 버튼*/
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.arrow.left {
  left: -10px;
}

.arrow.right {
  right: -10px;
}

/*텍스트리뷰 부모영역*/
.text-review {
  width: 1464px;
  margin: 0 0 100px 170px;
  display: flex;
  flex-direction: column;
  /*border: 3px solid #000;*/
  font-family: 'Cafe24Gowoonbam';
}

.review-header {
  display: flex;
  align-items: flex-start; /*텍스트 리뷰 타이틀과 작성란 같은 줄 맞춤*/
  gap: 266px;
  /*background-color: lightcoral;*/
}

/*텍스트리뷰 타이틀*/
.review-label {
  display: inline-block;
  background: #81C784;
  border: none;
  padding: 5px 7px;
  color: #000;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'DaeguDongseongRo';
}

.review-list2 {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/*텍스트리뷰 한줄로 만들기*/
.review-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

/*왼쪽(별점+텍스트)*/
.review-left {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1;
  gap: 36px;
}

/*별점*/
.stars2 {
  color: #333;
  font-size: 16px;
}

/*리뷰 텍스트*/
.review-text {
  font-size: 16px;
  color: #333;
  white-space: nowrap;
  /*word-break: keep-all;*/
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  width: 800px;
}

/*닉네임*/
.review-user {
  color: #000;
  font-size: 16px;
  margin-left: auto;
  flex-shrink: 0;
}

/*.review-item:hover {
  background: rgba(255,255,255,0.05);
}*/

/*푸터영역*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 102px;
  padding-top: 23px;
  padding-bottom: 108px;
  background-color: #FCE5C2;
  color: #333;
}

.footer_left {
  display: flex;
  flex-direction: column;
  line-height: 180%;
}

.footer_left a img {
  width: 150px;
  height: 150px;
}

.footer_right {
  align-self: flex-start;
  margin-right: 180px;
}

.footer_right ul {
  display: flex;
  gap: 30px;
  margin: 0;
}

.footer_right ul li {
  background-color: #FFAB91;
  padding: 5px 20px 5px;
  border-radius: 5px;
}