@charset "utf-8";

@font-face {
    font-family: 'Cafe24Gowoonbam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaeguDongseongRo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/DaeguDongseongro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/*@font-face {
    font-family: 'NostalgicYuriDakku';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-1@1.0/Griun_YuriDaggu-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}*/

/*전체 영역*/
* {
  margin: 0;
  padding: 0;
  letter-spacing: 2%;
  /*outline: 1px solid red;*/
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  width: 100%;
  /*height: 6480px;*/
  background-color: #fff9f0;
  /*overflow-x: hidden;*/
}

/*컨테이너 설정*/
.container {
  display: flex;
  /*width: 100%;*/
  max-height: 1080vh;
  margin: 0 auto;
  padding: 0 20px;
}

/*헤더 영역*/
.header {
  width: 100%;
  max-width: 1920px;
  height: 166px;
  /*background-color: lightskyblue;*/
  position: relative;
}

.header_inner {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 20px 40px;
}

.header_inner img {
  width: 150px;
  height: 150px;
  /*padding-left: 270px;*/
  /*margin-top: -70px;*/
}

.header_inner a {
  margin-left: auto;
  margin-right: 20px;
}

.header_inner a img {
  transform: translateY(-42px);
}

/*검색창*/
.search-form {
  margin: -80px 290px 0 -25px; /*위, 오른쪽, 아래, 왼쪽*/
}

.search-box {
  position: relative;
  width: 350px;
}

.search-box input {
  width: 100%;
  height: 40px;
  padding: 10px 42px 10px 20px; /*위, 오른쪽, 아래, 왼쪽*/
  border: 1px solid rgba(88, 88, 88, 0.3);
  background-color: rgba(249, 249, 249, 0.3);
  border-radius: 100px;
  box-sizing: border-box;
  color: #000;
}

.search-box input:focus {
  border: 1px solid rgba(88, 88, 88, 0.5);
  outline: none;
}

.search-box button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.search-box button img {
  width: 13.77px;   
  height: 13.77px;
  display: block;
  padding-right: 10px;
}

.search-box input { /*검색창 폰트 설정*/
  font-size: 14px;  
  color: #000;  
}

.topmenu {
  display: flex;
  margin: 10px 220px 120px auto; /*위, 오른쪽, 아래, 왼쪽*/
  gap: 25px; /*버튼 간 간격 조절*/
}

.topmenu a {
  /*margin-left: 35px;*/
  font-size: 16px;
  color: #222;
  padding: 5px 10px; /*버튼 크기 조절*/
  background-color: #FFAB91;
  border-radius: 10px;
  font-weight: 400;
  margin: 0;
}

.topmenu a:hover {
  background-color: #ffbda9;
}

.submenu {
  position: relative;
  top: -100px;
  text-align: center;
  padding: 15px 0;
  margin-top: 18px;
}

.submenu ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  color: #222;
}

.submenu ul li a:hover {
  background-color: #fae6c7;
  padding: 5px 10px 5px;
  border-radius: 5px;
  font-size: 18px;
}

/*배송 안내*/
.delivery-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
}

.modal-content {
  background: #fff9f0;
  width: 400px;
  height: 300px;
  padding: 20px;
  margin: 200px auto;
  text-align: center;
  font-family: 'Cafe24Gowoonbam';
  border-radius: 10px;
}

.modal-content H3 {
  margin-bottom: 50px;
}

.modal-content p {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 20px;
}

.modal-content button {
  font-family: 'Cafe24Gowoonbam';
  background-color: #fff9f0;
  width: 50px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 120px;
}

/*서브 상단 영역*/
.sub-menu{

}

.sub-top-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.sub-top-title h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'DaeguDongseongRo';
}

.sub-top-title p {
  font-size: 18px;
  font-family: 'Cafe24Gowoonbam';
}

/*메인 배너 이미지*/
.sub-img {
  background-image: url(../img/sub01/sub-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 993px;
  opacity: 0.7;
  margin-top: 60px;
  background-attachment: fixed;
}

/*메뉴 소개 - 항암치료 집중식단*/
.submenubox {
  width: 100%;
}

.sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  font-family: 'DaeguDongseongRo';
  justify-content: center;
}

.sub-title span {
  font-size: 14px;
  color: #444;
}

.sub-title h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: #FFAB91;
  border-radius: 5px;
  margin: 5px auto 70px;
}

.menuimg-box {
  max-width: 1370px;
  width: 100%;
  /*height: 962px;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*이미지를 3*2로 정렬*/
  row-gap: 140px; /*세로 간격*/
  column-gap: 40px; /*가로 간격*/
  margin: 0 auto;
}

.menuimg-box img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.menuitem {
  /*border: 2px solid red;*/
  position: relative;
  /*overflow: hidden;*/
  cursor: pointer;
}

.menuitem img {
  width: 100%;
  display: block;
  transition: 0.3s;
}

.menuitem a {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.menuitem p {
  width: 163px;
  margin: 13px auto 0;
  padding: 15px 25px 15px;
  text-align: center;
  border-radius: 15px;
  background-color: #FFAB91;
  border: 1px solid #666;
  font-size: 16px;
  font-family: 'Cafe24Gowoonbam';
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  /*margin-bottom: 93px;*/
}

/*이미지 호버시 도시락 메뉴 안내*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(5px); /*뒷배경 뿌옇게(블러처리)*/
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  z-index: 10;
  border-radius: 5px;
}

.overlay h4 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #777;
}

.overlay ul li {
  font-size: 15px;
  font-weight: 400;
  color: #444;
}

.overlay li { /*줄 간격*/
  margin-bottom: 8px;
}

.overlay li:last-child { /*마지막줄 여백제거*/
  margin-bottom: 0;
}

.overlay h5 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 17px;
  color: #333;
}

/*이미지 애니메이션 효과*/
.overlay h4,
.overlay ul {
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.4s ease;
}

.menuitem:hover .overlay {
  opacity: 1;
}

.menuitem:hover .overlay h4 {
  transform: translateY(0);
  opacity: 1;
}

.menuitem:hover .overlay ul {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s; /*텍스트 살짝 늦게 나옴*/
}

.menuitem:hover img {
  transform: scale(1.05);
}


/*버튼 애니메이션 효과*/
.menuitem a>p:hover {
  background-color: #ffcbbb;
  transform: translateY(7px);
  border: 2px solid #666;
  font-size: 18px;
}

/*메뉴 소개 - 수술 후 회복식단*/

/*메뉴 소개 - 디어케어*/
.menuitem.care img {
  object-fit: contain;
}

/*이미지 호버시 제품 성분, 가격 안내*/
.overlay2 {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 30%;
  background: rgba(255,255,255,0.55);
  border-radius: 30px;
  color: #333;
  padding: 15px;
  transform: translateY(80%);
  opacity: 0;
  transition: all 0.4s ease;
}

.menuitem:hover .overlay2 {
  transform: translateY(10%);
  opacity: 1;
}

/*호버시 문구 스타일 수정*/
.overlay2 h6 {
  font-size: 14px;
  color: #444;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 30px;
}

.overlay2 h7{
  font-size: 20px;
  line-height: 130px;
  font-weight: 500;
  color: #333;
  padding-left: 150px;
}

/*푸터영역*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 102px;
  padding-top: 23px;
  padding-bottom: 108px;
  background-color: #FCE5C2;
  color: #333;
  margin-top: 93px;
}

.footer_left {
  display: flex;
  flex-direction: column;
  line-height: 180%;
}

.footer_left a img {
  width: 150px;
  height: 150px;
}

.footer_right {
  align-self: flex-start;
  margin-right: 180px;
}

.footer_right ul {
  display: flex;
  gap: 30px;
  margin: 0;
}

.footer_right ul li {
  background-color: #FFAB91;
  padding: 5px 20px 5px;
  border-radius: 5px;
}