@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

body {
  background: #FAF9F6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;/*전체 페이지가 최소 화면 한칸을 차지*/
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between; /*header는 왼쪽 끝, aside는 오른쪽 끝으로*/
  align-items: flex-start;     
  /*width: 1745px;*/
  /*background-color: lightblue;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 80px;
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #FAF9F6;
}

.logo {
  /*background-color: lightgoldenrodyellow;*/
  padding-left: 15px;
}

.logo img {
  display: block;
  height: 61px; 
  width: 270px;
  object-fit: cover;
}

/* Aside: 검색창과 버튼 정렬 */
aside {
  display: flex;
  align-items: center;
  gap: 16px;
  /*background-color: lightseagreen;*/
}

aside a {
  color: #000;
  font-size: 14px;
}

.search-form {
  display: flex;
  border-radius: 7px;
  width: 220px;
  height: 40px;
  border: 4px solid #A0C8F5;
  margin-top: 10px;
}

.search-form img {
  width: 15.49px;
  height: 15.49px;
  margin-top: 10px;
  margin-right: 11px;
  cursor: pointer;
}

/*검색하는 공간*/
.search-form input {
  background: none;
  outline: none;
  border: none;
  width: 253px;
  margin-left: 10px;
}

.search-form button {
  background: none;
  border: none;
  cursor: pointer;
}

section {
  margin-top: 171.5px;
  height: 80px;
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-left: 50px;
  /*background-color: lightcoral;*/
  position: sticky; /*스크롤 하다가 지정한 위치에 고정*/
  top: 80px; /*헤더 높이만큼 띄워서 고정 (헤더와 안 겹치게)*/
  width: 170px;
  height: calc(100vh - 80px); /*화면 높이에서 헤더 높이 뺀 만큼*/
  background-color: #f9f9f9;
  flex-shrink: 0; /*크기가 줄어들지 않도록 고정*/
}

nav h2 {
  font-size: 26px;
  color: #333;
}

nav a {
  color: #333;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  align-items: center; /*세로 중앙 정렬*/
  margin-left: 18px;
  transition: all 0.2s ease-in-out; /*호버시 부드러운 효과*/
}

nav a img {
  margin-right: 9px;
  width: 40px; 
  height: auto;
  flex-shrink: 0; /*이미지 찌그러지지않도록 고정*/
  object-fit: contain; /*아이콘 가운데 정렬*/
}

nav a:nth-of-type(1):hover {
  color: #ffa0c4;
  font-weight: 700;
  font-size: 24px;
}

nav a:nth-of-type(2):hover {
  color: #6ab5f3;
  font-weight: 700;
  font-size: 24px;
}

nav a:nth-of-type(3):hover {
  color: #71e271;
  font-weight: 700;
  font-size: 24px;
}

/*메인 우측 영역*/
section {
  display: flex;
  flex-direction: row;
  flex: 1;
}

article{
  margin-left: 71px;
  flex: 1;
}

/*장바구니*/
.cart-container {
  width: 85%;
  margin: 0 auto;
}

.cart-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid #888;
  padding-bottom: 19px;
}

.cart-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  width: auto;
}

.cart-steps {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  color: #999;
  font-size: 18px;
}

.cart-steps li.active {
  color: #D54192;
  font-weight: bold;
}

.cart-steps span {
  color: #1F64CC;
}

.cart-list {
  border-bottom: 2px solid #888;
  padding: 70px 0;
  text-align: center;
}

.cart-msg {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.continue-link {
  display: inline-block;
  margin-top: 19px;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #333;
  padding-bottom: 2px;
}

.cart-total {
  margin-top: 19px;
  border: 1px solid #888;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.total span {
  font-size: 18px;
  font-weight: 500;
}

.total .price {
  font-size: 24px;
  color: #e91e63; 
}

.total.highlight span {
  font-weight: bold;
}

/*푸터영역*/
footer {
  background-color: #D9D9D9; 
  padding: 18px 0 36px 35px;
  line-height: 1.7;
  margin-top: 90px;
}

.footer-inner {
  max-width: 1920px;
}

.footer-logo {
  display: block;
  width: 302px;
  height: 123px;
}

.footer-area p {
  font-weight: 400;
  color: #666464;
  font-size: 13px;
}

.service {
  font-size: 23px;
  font-weight: 600;
  color: #333;
  letter-spacing: 4%;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;/*세로로 정렬*/
}

.service span {
  font-size: 10px;
  font-weight: normal;
  color: #666464;
  margin-left: 110px;
}

/*하단 메뉴 가로 배치*/
.footer-menu {
  display: flex;
  list-style: none;
  border-top: 3px solid #C7C7C7;
  padding-top: 14px;
  gap: 10px;
  font-size: 14px;
}

.footer-menu li a {
  color: #333;
  position: relative;
}